<ion-view  class="about-us" cache-view="false" view-title="ABOUT">

<ion-nav-buttons side="right">
  <a class="button" nav-transition="android" nav-direction="backward" href="#/"> 
    <i class="icon ion-chevron-left"><span>BACK</span></i>
  </a>
</ion-nav-buttons>
	<!-- <ion-header-bar class="bar-balanced">
	  	<button class="button">
	  		<i class="icon ion-navicon hamburger"></i>
	  	</button>
	  	<h1 class="title">ABOUT US</h1>
     	<a class="button" nav-transition="android" nav-direction="backward" href="#/"> 
	    	<i class="icon ion-chevron-left"></i><span>BACK</span>
	  	</a>			  
	</ion-header-bar> -->
<ion-nav-buttons side="right">
  <a class="button" nav-transition="android" nav-direction="backward" href="#/"> 
    <i class="icon ion-chevron-left"><span>BACK</span></i>
  </a>
</ion-nav-buttons>
	<ion-content>
        <a ng-click="openInExternalBrowser()" class="ex-link"><div class="row">
		  	<div class="col col-33 col-offset-33">
		  		<img class="full-image" src="img/islo-logo.png">
	  		</div>
		</div>
		<div class="row">
	  		<div class="col result-team-name"><h2>WELCOME TO<br /> ISLAMABAD UNITED</h2></div>
		</div>
	    <div class="row about-us-box">
	    	<div class="col">
				  <p>
					<strong>Islamabad United (ISLU)</strong> is a Pakistani professional Twenty20 franchise cricket team that competes in Pakistan Super League. The team was formed in 2015 as a result of the formation of the Pakistan Super League by Pakistan Cricket Board (PCB). The franchise is owned by Leonine Global Investments through its sports entity, Leonine Global Sports.
					The team is currently captained by Pakistan’s most successful test captain Misbah-ul-Haq and coached by former Australian player Dean Jones while the former Pakistani fast bowler Wasim Akram is the director of the team and Tauseef Ahmad as Assistant Coach.
				  </p>
	    	</div>
	    </div>
		</a>
		<button class="button button-full button-assertive" ng-click="openInExternalBrowser()">
           VISIT OUR WEBSITE
        </button>
	</ion-content>
</ion-view>