<ion-view cache-view="false" view-title="GALLERY">
	<ion-nav-buttons side="right">
	  <a class="button" nav-transition="android" nav-direction="backward" href="#/"> 
	    <i class="icon ion-chevron-left"><span>BACK</span></i>
	  </a>
	</ion-nav-buttons>
	<!-- <ion-header-bar class="bar-balanced">
	  	<button class="button" data-ng-click="MenuScreen()">
	  		<i class="icon ion-navicon hamburger"></i>
 	 	</button>
 	 	<h1 class="title">MEME GALLERY</h1>
     	<a class="button" nav-transition="android" nav-direction="backward" href="#/"> 
       	<i class="icon ion-chevron-left"></i><span>BACK</span>
     	</a>
	</ion-header-bar> -->
	<ion-content>
		<!-- <div ng-repeat="pic in gallery">
			<div class="row gallery-screen">
			  	<div class="col">
		          		<span ng-bind-html="pic.content.rendered"></span>
		          		<img class="full-image" src="{{pic}}">
	          	</div>

			</div>
		<div class="borderd"></div>
		</div> -->

			<div class="card" style="height: 88vh;">
				<img src="img/cs.png" style="
    width: 100%;
    margin-top: 35%;
">
			</div>

	</ion-content>  
</ion-view>